h2.huge-module__title=name
each table in items.tables
	table.snippet(class=table.tableClass)
		if table.head
			thead
				tr
					each head in table.head
						th=head
		if table.body
			tbody
				each row in table.body
					tr
						each td in row.td
							td=td
		if table.footer
			tfooter
				tr
					each td in table.footer
						td=td
