- var data = public.styleguide.modules.colors._data.module

h2.title=data.name
each paragraph in data.items.intro
	p!=paragraph

ul.no-bullet.list-colors
	each color, index in data.items.colors
		- var last = index == data.items.colors.length - 1 ? 'end' : ''
		li(class="small-12 medium-2 column #{last}")
			div(class="color #{color.className}")
				p .#{color.className}
