<h2 class="title">{{name}}</h2>
{{#each items.intro}}
    <p>{{this}}</p>
{{/each}}
<ul class="templates-group">
  {{#each items.templates}}
    <li>
      {{#if link}}<a href="{{link}}">{{/if}}
        <img src="assets/images/{{thumbnailFile}}" width="200" alt="{{templateName}}"/>
        <div class="template-name">{{templateName}}</div>
      {{#if link}}</a>{{/if}}
    </li>
  {{/each}}
</ul>