- var breakpoints = public.styleguide._data.breakpoints

html
	body
		header.huge-header
			.huge-header__welcome.left #{public.styleguide._data.clientName} Styleguide - v.#{public.styleguide._data.version} #{public.styleguide._data.date}
			nav.huge-header__breakpoints.right
				ul.huge-list--unstyled.huge-list--float
					each breakpoint in breakpoints
						li.huge-header__breakpoints__item
							a(id=breakpoint.id, data-size=breakpoint.size, data-size-label=breakpoint.id).huge-header__breakpoints__item__link
								span=breakpoint.name
