{{!-- TODO: refactor names --}}
<header id="header" class="huge_header">
  <div class="huge_breadcrumb">{{begining}} &gt; Styleguide</div>
  <nav class="huge_sizes right">
    <ul>
      <li><a id="sg-size-s" href="#">{{small}}</a></li>
      <li><a id="sg-size-m" href="#">{{medium}}</a></li>
      <li><a id="sg-size-l" href="#">{{large}}</a></li>
      <li><a id="sg-size-full" href="#">{{full}}</a></li>
    </ul>
  </nav>
</header>