- var data = public.styleguide.modules.tables._data.module

h2.title=data.name
each table in data.items.tables
	table.snippet(class=table.tableClass)
		if table.head
			thead
				tr
					each head in table.head
						th=head
		if table.body
			tbody
				each row in table.body
					tr
						each td in row.td
							td=td
		if table.footer
			tfooter
				tr
					each td in table.footer
						td=td
