h2.huge-module__title=name
if items.intro
	each paragraph in items.intro
		p.huge-module__paragraph!=paragraph
.titles
	each font in items.fonts
		- var heading = '<h' + font.heading + ' class="' + font.className + '">' + font.title + '</h' + font.heading + '>'
		h4.huge-module__title--light #{font.fontName} - #{font.fontSize} !{heading}
br
h5.huge-module__title--small=items.paragraphsName
each paragraph in items.paragraphs
	p(class=paragraph.className)=paragraph.text
