<h2 class="huge_title">{{name}}</h2>
{{#each items.intro}}
    <p>{{this}}</p>
{{/each}}
<div class="huge_titles">
  {{#each items.fonts}}
    <h4 class="light">{{fontName}} - {{fontSize}}</h4>
    <h{{heading}} class="{{className}}">{{title}}</h{{heading}}>
  {{/each}}
</div><br/>
<h5 class="huge_title">{{items.paragraphsName}}</h5>
{{#each items.paragraphs}}
  <p class="{{className}}">{{text}}</p>
{{/each}}